<div class="container">
  <div class="row">
    <div class="col-8 col-sm-8 col-lg-8">
      <h3 class="text-muted">Staff Members</h3>
      <div class="list-group">
        <a
          href="#"
          (click)="removeEl(i)"
          style="height: 75px"
          *ngFor="let person of persons; let i = index"
          [@list1]
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <h4>
            <span class="text-muted small">Id:</span
            ><strong>{{ person.id }} </strong>
            <span class="text-muted small">Name:</span>
            <strong>{{ person.name }} </strong>
            <span class="text-muted small">Age:</span>
            <strong>{{ person.age }} </strong>
            <span class="text-muted small">Position:</span>
            <strong>{{ person.position }} </strong>
            <span class="text-muted small">Since:</span>
            <strong>{{ person.year }} </strong>
            <img
              [src]="person.avatar"
              alt="{{ person.name }}}"
              class="d-block pull-right  img-fluid  img-responsive"
              style="max-height: 60px; margin: -15px 0 0"
            />
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h6 class="text-muted">Staff Members</h6>
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let person of persons"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">
            Id: {{ person.id }} Name: {{ person.name }}
          </h4>
          <p class="list-group-item-text">
            {{ person.age }} {{ person.position }} {{ person.year }}
          </p>
          <span class="pull-right">
            <img
              [src]="person.avatar"
              alt="{{ person.name }}}"
              class="img-responsive"
              style="max-width: 45px;"
            />
          </span>
        </div>
      </a>
    </div>
  </div>
</div> -->
